
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/perception4all.iml
.idea/vcs.xml
.idea/workspace.xml
*.pyc
*.meta
classification/data/cifar-10-batches-py/data_batch_1
classification/data/cifar-10-batches-py/data_batch_2
classification/data/cifar-10-batches-py/data_batch_3
classification/data/cifar-10-batches-py/data_batch_4
classification/data/cifar-10-batches-py/data_batch_5
*.html
classification/data/cifar-10-batches-py/test_batch
*.gz
*.0
*.1
